#app {
    width: 100%;
}
.view-box {
    width: 100%;
    height: auto;
}
.poster-canvas {
    display: none;
    width: 245px;
    height: 436px;
}
.poster-img {
    display: block;
    margin: 0 auto;
    width: 245px;
    height: 436px;
}
