<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="outer-container">
    <div class="inner-container">
        <div class="content">
            爱上对方都是非法的胜多负少

            东方时尚反倒是大幅度发送
            爱上对方都是非法的胜多负少

            东方时尚反倒是大幅度发送
            爱上对方都是非法的胜多负少

            东方时尚反倒是大幅度发送
            爱上对方都是非法的胜多负少

            东方时尚反倒是大幅度发送
            爱上对方都是非法的胜多负少

            东方时尚反倒是大幅度发送
            爱上对方都是非法的胜多负少

            东方时尚反倒是大幅度发送
            爱上对方都是非法的胜多负少

            东方时尚反倒是大幅度发送
            爱上对方都是非法的胜多负少

            东方时尚反倒是大幅度发送
            爱上对方都是非法的胜多负少

            东方时尚反倒是大幅度发送
            爱上对方都是非法的胜多负少

            东方时尚反倒是大幅度发送
            爱上对方都是非法的胜多负少

            东方时尚反倒是大幅度发送
            爱上对方都是非法的胜多负少

            东方时尚反倒是大幅度发送
            爱上对方都是非法的胜多负少

            东方时尚反倒是大幅度发送
            爱上对方都是非法的胜多负少

            东方时尚反倒是大幅度发送
            爱上对方都是非法的胜多负少

            东方时尚反倒是大幅度发送
        </div>
    </div>
</div>

<style>
    .outer-container,.content {
        width: 200px; height: 200px;
    }
    .outer-container {
        position: relative;
        overflow: hidden;
    }
    .inner-container {
        position: absolute; left: 0;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    /* for Chrome */
    .inner-container::-webkit-scrollbar {
        display: none;
    }
</style>

</body>
</html>
